@{
    ViewData["Title"] = "Pojištěné osoby";
}

<h2 class="display-5 bg-primary-subtle">Pojištěné osoby</h2>
<hr>


<br>

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo molestiae recusandae, sed eius, libero deleniti repudiandae et corporis voluptates cupiditate eaque animi harum? Molestiae voluptas excepturi ullam impedit sequi eius.</a>.</p>
</div>
